.doctor-img {
    max-width: 173px;
    min-width: 147px;
    padding-right: 5px;
}

.clinic-details ul li a img {
    max-width: 65px;
}


.doc-img img {
    width: 100%;
    height: 170px;
    object-fit: contain;
}

.doc-img {
    min-height: 170px;
    max-height: 170px;
    background: #f8f9fa;
}

.alert-toast {
    position: fixed;
    min-width: 300px;
    z-index: 99;
    bottom: 0px;
    right: 3px;
}

.center {
    width: max-content;
    margin: 0 auto;
}

.actions {
    width: max-content;
    position: absolute;
    right: 15px;
    top: 15px;
}

i, label {
    cursor: pointer;
}

.show-search-properties {
    cursor: pointer;
}

.properties td:first-child {
    width: 155px;
}

.blog-pagination {
    display: grid;
    overflow: scroll;
}

@media (max-width: 800px) {
    .profile-widget {
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100%;
    }
}

@media (max-width: 1000px) {
    .search-properties {
        display: none;
    }
}


/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
    border: 2px solid red;
}

/* Hide all steps by default: */
.step-form .tab {
    display: none;
}
.step-form .active {
    display: block;
}
.step-form button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

.action-icon i {
    background: white;
    border-radius: 50%;
}

.blog-pagination::-webkit-scrollbar {
    display: none;
}

.blog-pagination {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
